body {
  font-family: 'Josefin Sans', sans-serif;
  color: #BFC0C0;
  margin: 0px;
  background: linear-gradient(to right, #0B101A, #0c345d)
}

h1, h2, h3, h4 {
  font-family: 'Paytone One', sans-serif; 
}
a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #BFC0C0;
}

.section {
  padding-top: 70px;
}

.hire-me-email {
  padding: 20px 60px;
  border: solid 2px #a1a1a1;
  border-radius: 100px;
}

@media screen and (max-width: 480px) {
  .custom-navbar .navbar-brand {
    font-size: 1.5rem;
  }
}

.filters a {
  text-decoration: none;
  color: #BFC0C0;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.filters a:hover, .filters a:focus, .filters a:active {
  text-decoration: none;
}
.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #BFC0C0;
}
.filters a.active {
  color: #BFC0C0;
}
.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #BFC0C0;
}

.item {
  border: none;
  margin-bottom: 30px;
}
.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.item .item-wrap img {
  transition: 0.3s transform ease;
  transform: scale(1);
}
.item .item-wrap > .work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}
.item .item-wrap > .work-info h3 {
  font-size: 20px;
  margin-bottom: 0;
}
.item .item-wrap > .work-info span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.item .item-wrap:hover {
  text-decoration: none;
}
.item .item-wrap:hover img {
  transform: scale(1.05);
}
.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}
.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.heading {
  font-size: 28px;
}

.readmore {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  transition: 0.2s all ease;
  font-weight: 700;
}
.readmore:active, .readmore:focus, .readmore:hover {
  outline: none;
}
.readmore:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}

.sticky-content {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

.list-line li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}
.list-line li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7rem;
  width: 10px;
  height: 2px;
  background: #000;
}

.form-control {
  border-radius: 0;
  background: #f8f9fa;
  border: 1px solid transparent;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.form-control:active, .form-control:focus {
  background: #eff1f4;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.custom-progress {
  height: 7px;
  border-radius: 0;
}
.custom-progress .progress-bar {
  background: #000;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Custom Navmenu */
.navbar {
  background-color: #0F0F1E;
}

/* Custom Navbar */
.custom-navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
@media (max-width: 780px) {
  .custom-navbar > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.custom-navbar .navbar-brand {
  font-size: 1.7rem;
  color: #F8F9FA;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  width: 100%;
  padding: 15px 0px;
  margin-top: 70px;
}
.footer a {
  color: #000;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
}
.back-to-top .bi-arrow-up-short {
  width: 30px;
  height: 30px;
  background: #0F0F1E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  color: #0d1e2d;
}
.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.social a:hover {
  color: #000;
}


/* Single portfolio */

.site-single-portfolio .row {
  --bs-gutter-x: 5rem;
}

.portfolio-category {
  background-color: #777;
  position: absolute;
  color: #000;
}

.single-portfolio-h {
  margin-bottom: 35px; 
  margin-top: 55px;
  font-size: 50px;
}
/* Project btn  */
.project-button {
  display: flex;
  margin: 0px;
  justify-content: flex-start;
  height: 70px;
  width: 250px;
  /* border: 2px solid #BFC0C0; */
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

#single_project_button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#single_project_button a {
  position: relative;
  transition: all .45s ease-Out;
  border-bottom: solid;
}

#single_project_button:hover a {
  color: #ffffff;
}

.project-desription .project-meta{
  margin-top: 25px;
}

.project-desription .project-meta h5{
  font-size: 18px;
  text-transform: uppercase;
}

.project-desription .project-meta p{
  font-size: 14px;
  color: #eff1f4;
  border-bottom: 1px solid #BFC0C0;
  margin-bottom: 25px;
  padding-bottom: 15px;
}
